/*
==========================================================================
Main structure
========================================================================== 
*/
body {
    background-color: #801802;
    margin: 0rem; /* 1 rem = 10px */
    font-family: 'Noto Sans', sans-serif;
    padding-bottom: 0px;
    padding-top: 3rem;
    color: #ffffff;
}

.navbar {
    margin-bottom: 20px;
    background: black;
    border-bottom: .05rem solid #7DA73E;
    border-top: .05rem solid #7DA73E;
}

/* Customize container */
@media (min-width: 48em) {
    .container {
        /*    max-width: 46rem;*/
    }
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: .05rem solid #7DA73E;
    margin-bottom: 0.5rem !important;
    background-image: url(../images/_MG_7712_small.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    text-align: center;
}

    .jumbotron .btn {
        padding: .75rem 1.5rem;
        font-size: 1.5rem;
    }


/* Small devices (mobile and up, 520px) */
@media (max-width: 520px) {
    .jumbotron h1 {
        font-size: 3.5em;
    }

    footer p {
        font-size: 0.8rem;
    }

    .marketing h5 {
        font-size: 1em;
    }

    .marketing p {
        font-size: 0.8em;
    }
    .mysearchcontainer {
        padding: 0px;
        margin: 0px;
    }
}


/* Medium devices desktops, 768px and up */
@media (min-width: 768px) {
    .jumbotron h1 {
        font-size: 8em;
    }

    .marketing h5 {
        font-size: 1.5em;
    }

    .marketing p {
        font-size: 1em;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .jumbotron h1 {
        font-size: 8em;
    }
}

/* Supporting marketing content */
/*
.marketing {
    margin: 1.5rem 0;
    margin-top: 0;
}
*/

    .marketing p + h5 {
        margin-top: 1.5rem;
    }


.jumbotron {
    margin-bottom: 0.5rem !important;
}

article {
cursor: pointer;

}


.card-header {
    background-color: transparent;
    padding-left: 0px;
}

.card {
    background-color: transparent;
    border: 0px;
    border-radius: 0px;
    border-bottom: thin solid #7DA73E;
    
}

article p {
    font-family: 'Arial';
    

    }

article img {
    border-radius: 3px;
   
}

.container-narrow > hr {
    margin: 2rem 0;
}

.navbar-inverse .navbar-nav .nav-link {
    color: #7DA73E !important;
}

    .navbar-inverse .navbar-nav .nav-link.startfocus {
        color: #ffffff !important;
    }

    .navbar-inverse .navbar-nav .nav-link:hover {
        color: #ffffff !important;
    }


/* Custom page footer */
footer {
    background-color: #000000;
    border-top: .05rem solid #7DA73E;
    border-bottom: .05rem solid #7DA73E;
}

.secondary-footer {
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #7DA73E;
    border-color: #7DA73E;
}

.btn {
    border-color: #7DA73E;
    border-width: 3px;
    color: #7DA73E;
    font-family: 'Noto Sans';
}

a {
    color: #7DA73E;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1.00)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-inverse .navbar-toggler {
    border-color: black;
}

.navbar-toggler:hover {
    outline: none;
    opacity: 100;
    
}

.fa-search {
    /* color: #7DA73E; */
    position: absolute;
    right: 3.7rem;
    align-self: flex-start;
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1.5;
    background: 0 0;
    border: 1px solid transparent;
    border-radius: .25rem;
   /* opacity: 0.8; */
}

.fa-search:hover {
    opacity: 100;    
}

.mysearchform {
    display:none;
}

.showsearchform {
    display:inline;
    color: #7DA73E;
    right: 3.7rem;
    align-self: flex-start;
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1.5;
    background: 0 0;
    border: 1px solid transparent;
    border-radius: .25rem;
    opacity: 100;
    background-color: black;
}